body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.line_number {
  line-height: 1;
  border-right: 1px solid #a0a0a0;
  background-color: #e0e0e0;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

.editor {
  width: 100%;
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  font-family: monospace;
  font-size: large;
  box-sizing: border-box;
  display: block;
  resize: none;
  border: none;
  outline: none;
  white-space: pre;
  overflow:scroll;
}
